body {
  align-items: center;
  background-color:black;
}

.jumbotron {
  margin:auto;
  text-align: center;
}

#search {
  margin: auto;
  text-align: center;
}

#search_return  {
    margin: auto;
  text-align: center;
}
