body {
  background-color: #6E6E6E;
  align-items: center;
}

.jumbotron {
  margin:auto;
  text-align: center;
  background-color: #393939;
}
.jumbotron h1  {
  color:#dbdbdb;
}

.jumbotron p  {
  color:#dbdbdb;
}

#lyricButton, #quoteButton, #anyTextButton, #changeInput  {
  background-color: #FF5A0A;
  border: 1px solid grey;
  border-radius: 4px;
  color: black;
  font-size: 20px;
  box-shadow: 4px 4px 7px #5F5F5F;
}


#search {
  display: none;
  margin: auto;
  text-align: center;
}

#quoteGenerator {
  display:none;
}

#search_return  {
    margin: auto;
  text-align: center;
}



.resultDivs {
  margin: auto;
  margin-top: 20px;
  background-color: #888989;
  padding:3px 14px 3px 14px;
  width: 33%;

}
.resultDivs:hover{
  background-color:#EFF0F1;
}
.songNames  {
  padding-top: 0px;
  margin-top: 0em;
  margin-bottom: .6em;
  display: block;
}

.hidden_url {
  display:none;
}

.artistPics {
  max-width: 20%;
  display: block;
  margin: auto;

}

#changeInput  {
  display: block;
  margin: auto;
}
textarea  {
  width: 25%;
  height: auto;
  box-shadow: 4px 4px 7px #5F5F5F;
}

#userInputs {
  background-color: #F3843D;
  border-radius: 12px;
  color: black;
}
#hiddenInput {
  display:none;
  margin: auto;
  text-align: center;
}
#inputWords  {
  display: none;
}
#noun {
  display:inline-block;
}
.nounInputs {
  display: block;
}
#verb {
  display: inline-block;
}
.verbInputs {
  display: block;
}
#adj  {
  display: inline-block;
}
.adjInputs  {
  display: block;
}
/* types of words, frequency slider*\
